{{#if showActions}}
    <td><a href="/{{route}}/details/:{{user_id}}">Visualizar</a></td>
    <td><a href="/{{route}}/update/:{{user_id}}">Actualizar</a></td>
    <td><a href="/{{route}}/delete/:{{user_id}}">Eliminar</a></td>
{{else}}
    <td></td>
    <td></td>
    <td></td>
{{/if}}