<div class="tooltips">
    <img src="./images/help.jpg" with="25" height="25" alt="Ajuda" />
    <span class="tooltiptext">Nesta p&aacute;gina poder&aacute; consultar e editar e eliminar as adopções que se
        encontram registadas no SI.</span>
</div>
<div style="margin-left: 3em">
    <h2>{{description}}</h2>
</div>
<table id="adoptionsListTable">
    <thead>
        <tr>
            <th>Pesquisar por:</th>
            <th>ID</th>
            <th>Adoptante</th>
            <th>Animal</th>
            <th>Data de Adopção</th>
            <th colspan="3">Acções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="searchCell" rowspan={{searchColumnRowspan}}>{{> searchColumn}}</td>
            <td>
                {{adoption_id}}
            </td>
            <td>
                {{adopter}}
            </td>
            <td>
                {{animal}}
            </td>
            <td>
                {{adoptionDate}}
            </td>
            {{#if firstLine.showActions}}
            <td><a href="/{{firstLine.route}}/{{firstLine.user_id}}">Visualizar</a></td>
            <td><a href="/{{firstLine.route}}/{{firstLine.user_id}}">Actualizar</a></td>
            <td><a href="" onclick="confirmAdoptionDelete({{firstLine.user_id}})">Eliminar</a></td>
            {{else}}
            <td></td>
            <td></td>
            <td></td>
            {{/if}}

        </tr>

        {{> listRowsAdoptions}}

    </tbody>

</table>