<div class="textDisplay">
<h2>{{viewTitle}}</h2>
    <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>{{animal.name}}</dd>
        <dt>Data de Nascimento</dt>
        <dd>{{animal.birthday}}</dd>
        <dt>Genero</dt>
        <dd>{{animal.gender}}</dd>
        <dt>Vacinado</dt>
        <dd>{{animal.vaccinated}}</dd>
        <dt>Esterilizado</dt>
        <dd>{{animal.sterilized}}</dd>
        <dt>Cão</dt>
        <dd>{{animal.dog}}</dd>
    </dl>
</div>